{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "therace.html" . }}

{{ partial "feature.html" . }}

{{ partial "signup.html" . }}

{{ partial "profile.html" . }}

{{ partial "getting.html" . }}

{{ partial "gallery.html" . }}

{{ partial "funfacts.html" . }}

<!--{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

-->


{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}